/* my comments */
#comments {
}

/* CSS to style a beersmith HTML file's wrapper div */
#wrapper {
    border: 1px gold solid;
    padding: 4px;
    border-radius: 8px;
    width: 618px;
    font-weight: normal;
    font-family: Times, serif;
    background-color: #FFF;
}

#wrapper .logo h1, #wrapper .logo h2 {
    margin: 0px;
    font-size: 1.7em;
}

#wrapper .logo {
    margin-bottom: 0.5em;
}

#wrapper .logo h2 {
    font: bold Times, serif;
    margin-left: 2em;
}

#wrapper .glass {
    display: none;
}

#wrapper .col1, #wrapper .col2 {
    min-width: 305px;
    width: 305px;
    
}

#wrapper .col1 {
    float: left;
}

#wrapper .col2 {
    float: right;
}

#wrapper .full {
    clear: both;
}

#wrapper .item {
    font-weight: bold;
}

#wrapper caption, #wrapper h3 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
}

#wrapper table.BeerSmithTable {
    width: 610px;
    margin: 4px;
}

#wrapper table.BeerSmithTable tr:nth-child(even) {
    background-color: #F9F9F9;
}

#wrapper table.BeerSmithTable tr:nth-child(1) {
    background-color: #F0F0F0;
}

